<div class="hider" [ngClass]="{ inited: (this.site.onInited | async) && !this.site.forcePreloader }">
  <!-- -->
  <!-- <div class="loader-wrapper">
    <div class="loader">
      <div class="sun"></div>
      <div class="mountain"></div>
      <div class="mountain left"></div>
      <div class="mountain right"></div>
    </div>
  </div> -->
  <div class="heartwrap">
    <div class="heart">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="heart delay">
      <div class="left"></div>
      <div class="right"></div>
    </div>
    <div class="heart delay2">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>

  <!-- <div class="text">Some things are worth waiting for</div> -->
</div>
